<hr style=' border: 1px solid red'>
<hr style=' border: 1px solid black'>
<hr style=' border: 1px solid red'>

<h1 style="text-align:center;"> Finnish scraping project</h1>
<h3 style="text-align:center;"> Phase 3: Formatting the top 5000 words in English to be used to prioritise learning </h3>
<hr style=' border: 1px solid red'>
<hr style=' border: 1px solid black'>
<hr style=' border: 1px solid red'>

In [6]:
import pandas as pd

<hr style=' border: 1px solid red'>
<hr style=' border: 1px solid black'>
<h4 style="text-align:center;"> Stage 1</h4>
<hr style=' border: 1px solid black'>
<hr style=' border: 1px solid red'>

<p> check out the top 5000 most common words data set  </p>

In [20]:
freq = pd.read_excel('Frequency List.xlsx','The List - Frequency List')
freq = freq[1:]
freq.columns =['Summary', 'word', 'POS', 'freq', 'forms']
freq.head()

  Summary word POS    freq                                    forms
1    be|v   be   v  318018  be, am, are, been, being, is, was, were
2    I|fw    I  fw  267578                                        I
3  you|fw  you  fw  248266                                      you
4  the|fw  the  fw  176446                                      the
5    a|fw    a  fw  152598                                    a, an

In [28]:
ranked = freq.sort_values('freq', ascending = False).copy()
ranked


ranked['important'] = 'bonus'

ranked['important'][0:250]='vital'
ranked['important'][250:500]='critical'
ranked['important'][500:2000]='extremely useful'
ranked['important'][2000:3000]='useful'
ranked['important'][3000:4000]='common speech'
ranked['important'][4000:]='bonus'

In [29]:
ranked[0:100]

,Summary,word,POS,freq,forms,important
1,be|v,be,v,318018,"be, am, are, been, being, is, was, were",vital
2,I|fw,I,fw,267578,I,vital
3,you|fw,you,fw,248266,you,vital
4,the|fw,the,fw,176446,the,vital
5,a|fw,a,fw,152598,"a, an",vital
...,...,...,...,...,...,...
96,talk|v,talk,v,9197,"talk, talked, talking, talks",vital
97,okay|j,okay,j,9098,"okay, OK",vital
98,something|fw,something,fw,9075,something,vital
99,where|r,where,r,8941,where,vital
100,great|j,great,j,8778,"great, greater, greatest",vital

In [30]:
ranked[4500:]

,Summary,word,POS,freq,forms,important
4535,writing|n,writing,n,40,"writing, writings",bonus
4536,photograph|n,photograph,n,40,"photograph, photographs",bonus
4537,jerky|n,jerky,n,40,jerky,bonus
4508,reverse|j,reverse,j,40,reverse,bonus
4539,razor|n,razor,n,40,"razor, razors",bonus
...,...,...,...,...,...,...
5014,formula|n,formula,n,32,"formula, formulae, formulas",bonus
5013,feces|n,feces,n,32,feces,bonus
5012,father-in-law|n,father-in-law,n,32,"father-in-law, father-in-laws",bonus
5062,permit|n,permit,n,32,"permit, permits",bonus
5063,Â© 2014-2019 Fabien Snauwaert,NaN,NaN,NaN,NaN,bonus